@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "recoleta";
  src: url("../assets/fonts/Recoleta-RegularDEMO.otf");
}

body{
  font-family: 'recoleta', sans-serif;
}